/* default elements */
body,
table,
input,
textarea,
select,
li,
button {
  font: 300 15px/1.5em 'Droid Sans', Helvetica, Arial, Sans-Serif;
  letter-spacing: .01em;
  color: #3f3f3f;
}
body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: #3e74b6;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-weight: 300;
  margin: 0;
  line-height: 1em;
  color: #3f3f3f;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  text-decoration: none;
}
h1.padding-bottom,
h2.padding-bottom,
h3.padding-bottom,
h4.padding-bottom,
h5.padding-bottom,
h6.padding-bottom {
  padding-bottom: 30px;
}
h2 {
  font-size: 30px;
  line-height: 1em;
  margin-bottom: 15px;
}
h3 {
  font-size: 26px;
  line-height: 1em;
  margin-bottom: 15px;
}
h4 {
  font-size: 24px;
  line-height: 1.6em;
  margin-bottom: 6px;
}
h5 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 3px;
}
h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6em;
  margin-bottom: 3px;
}
p,
ul,
ol,
form,
table {
  line-height: inherit;
  margin: 0 0 15px 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
small {
  font-size: .9em;
}
img {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #eee;
}
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
input[type="radio"],
input[type="checkbox"],
.radio,
.checkbox {
  margin: 0 .25em 0 0;
}
/* common */
.f-left {
  float: left;
  margin-right: 1em;
}
.f-right {
  float: right;
  margin-left: 1em;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
  height: 1px;
}
.first {
  margin-left: 0 !important;
}
.last {
  margin-right: 0 !important;
}
.top {
  margin-top: 0 !important;
}
.bottom {
  margin-bottom: 0 !important;
}
.errors {
  color: red;
}
/* app elements */
#bkg_pattern {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: 1;
  background: url(../images/bkg_pattern_dots.png) repeat center center;
}
/* base structure elements */
#content,
body > header,
body > footer {
  position: relative;
  margin: 0 auto;
  z-index: 10;
}
/* button elements */
.btn {
  text-decoration: none !important;
  font-weight: 400;
  color: #0a6063;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  behavior: url(http://localhost:8000/static/styles/PIE.htc);
}
.btn:hover {
  color: #0a6063;
  text-decoration: none !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
}
.btn.btn-largest {
  padding: 13px 14px !important;
}
.btn.btn-largest [class^="icon-"] {
  margin-top: 1px;
}
.btn.btn-highlite {
  font-size: 17px;
  font-weight: 700;
}
.btn.btn-semibold {
  font-weight: 600;
}
.btn.transparent {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  behavior: url(http://localhost:8000/static/styles/PIE.htc);
}
.btn.btn-blue {
  color: #ffffff;
  background-color: #5284c4;
  background-image: -moz-linear-gradient(top, #7ba5df, #3c70af);
  background-image: -ms-linear-gradient(top, #7ba5df, #3c70af);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ba5df), to(#3c70af));
  background-image: -webkit-linear-gradient(top, #7ba5df, #3c70af);
  background-image: -o-linear-gradient(top, #7ba5df, #3c70af);
  background-image: linear-gradient(top, #7ba5df, #3c70af);
  background-repeat: repeat-x;
  border-color: #3c70af #3c70af #353a40;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #3c70af;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.btn.btn-blue:hover,
.btn.btn-blue:active,
.btn.btn-blue.active,
.btn.btn-blue.disabled,
.btn.btn-blue[disabled] {
  background-color: #3c70af;
  *background-color: #5284c4;
}
.btn.btn-blue:active,
.btn.btn-blue.active {
  background-color: #004099 \9;
}
.btn.btn-green {
  color: #00660c;
  background-color: #c6c01a;
  background-image: -moz-linear-gradient(top, #d6d030, #c0ba0c);
  background-image: -ms-linear-gradient(top, #d6d030, #c0ba0c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d6d030), to(#c0ba0c));
  background-image: -webkit-linear-gradient(top, #d6d030, #c0ba0c);
  background-image: -o-linear-gradient(top, #d6d030, #c0ba0c);
  background-image: linear-gradient(top, #d6d030, #c0ba0c);
  background-repeat: repeat-x;
  border-color: #c0ba0c #c0ba0c #333311;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #c0ba0c;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  behavior: url(http://localhost:8000/static/styles/PIE.htc);
}
.btn.btn-green:hover,
.btn.btn-green:active,
.btn.btn-green.active,
.btn.btn-green.disabled,
.btn.btn-green[disabled] {
  background-color: #c0ba0c;
  *background-color: #c6c01a;
}
.btn.btn-green:active,
.btn.btn-green.active {
  background-color: #004099 \9;
}
.btn.btn-yellow {
  color: #504513;
  background-color: #fedc2c;
  background-image: -moz-linear-gradient(top, #fee056, #e4c100);
  background-image: -ms-linear-gradient(top, #fee056, #e4c100);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fee056), to(#e4c100));
  background-image: -webkit-linear-gradient(top, #fee056, #e4c100);
  background-image: -o-linear-gradient(top, #fee056, #e4c100);
  background-image: linear-gradient(top, #fee056, #e4c100);
  background-repeat: repeat-x;
  border-color: #e4c100 #e4c100 #c9a800;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e4c100;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
  behavior: url(http://localhost:8000/static/styles/PIE.htc);
}
.btn.btn-yellow:hover,
.btn.btn-yellow:active,
.btn.btn-yellow.active,
.btn.btn-yellow.disabled,
.btn.btn-yellow[disabled] {
  background-color: #e4c100;
  *background-color: #fedc2c;
}
.btn.btn-yellow:active,
.btn.btn-yellow.active {
  background-color: #004099 \9;
}
.btn.btn-indigo {
  color: #ffffff;
  background-color: #556a9a;
  background-image: -moz-linear-gradient(top, #6b7fa8, #4d6395);
  background-image: -ms-linear-gradient(top, #6b7fa8, #4d6395);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6b7fa8), to(#4d6395));
  background-image: -webkit-linear-gradient(top, #6b7fa8, #4d6395);
  background-image: -o-linear-gradient(top, #6b7fa8, #4d6395);
  background-image: linear-gradient(top, #6b7fa8, #4d6395);
  background-repeat: repeat-x;
  border-color: #4d6395 #4d6395 #5b719e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #4d6395;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5) 1px 2px #cccccc;
  behavior: url(http://localhost:8000/static/styles/PIE.htc);
}
.btn.btn-indigo:hover,
.btn.btn-indigo:active,
.btn.btn-indigo.active,
.btn.btn-indigo.disabled,
.btn.btn-indigo[disabled] {
  background-color: #4d6395;
  *background-color: #556a9a;
}
.btn.btn-indigo:active,
.btn.btn-indigo.active {
  background-color: #004099 \9;
}
.btn.facebook {
  height: 25px;
  line-height: 25px;
  padding: 0 10px 0 2px !important;
}
.btn.facebook .icon-facebook-static {
  width: 18px;
  height: 24px;
  margin: 0 8px !important;
  line-height: 24px;
  background: url(../images/buttons/icon_facebook_line_small.png) no-repeat 0 bottom;
  vertical-align: middle;
}
.btn.facebook.btn-highlighted,
.btn.facebook.btn-largest {
  height: 44px;
  line-height: 44px;
  padding: 0 14px !important;
}
.btn.facebook.btn-highlighted .icon-facebook-static,
.btn.facebook.btn-largest .icon-facebook-static {
  width: 29px;
  height: 44px;
  margin: 0 8px !important;
  line-height: 44px;
  background: url(../images/buttons/icon_facebook_line.png) no-repeat 0 bottom;
  vertical-align: middle;
}
.btn.twitter:not(.btn-highlighted),
.btn.twitter:not(.btn-largest) {
  height: 25px;
  line-height: 25px;
  padding: 0 10px 0 2px !important;
}
.btn.twitter:not(.btn-highlighted) .icon-twitter,
.btn.twitter:not(.btn-largest) .icon-twitter {
  width: 18px;
  height: 24px;
  margin: 0 8px !important;
  line-height: 24px;
  background: url(../images/buttons/icon_twitter_line_small.png) no-repeat 0 bottom;
  vertical-align: middle;
}
